---
import Layout from "../layouts/Layout.astro";
---

<Layout title="hola">
  <h1>Página de prueba, instalame</h1>
</Layout>

<script>
  if ("serviceWorker" in navigator) {
    window.addEventListener("load", () => {
      navigator.serviceWorker
        .register("/sw.js")
        .then((reg) => console.log("SW registrado", reg))
        .catch((err) => console.log("Error al registrar SW", err));
    });
  }
</script>
