---
import Layout from "../layouts/Layout.astro";
import TablaEstudiantes from "../components/TablaEstudiantes.astro";
import { ClientRouter } from "astro:transitions";
---

<Layout>
	<ClientRouter></ClientRouter>
  <main>
    <TablaEstudiantes />
  </main>
</Layout>

<style>
  main {
    padding-bottom: 200px;
  }
</style>

<!-- Script de control de la tabla -->


