---
import Layout from "../layouts/Layout.astro";
import Slide from "../components/Slide.astro";
import Empezar from "../components/Empezar.astro";
import ListaJugadores from "../components/ListaJugadores.astro";
---

<Layout title="Te toca 🧹">
  <main>
    <h1 class="text-4xl font-bold pb-4 self-center place-self-center">
    TE TOCA
    </h1>

    <ListaJugadores />
<!-- 
    <Slide />
    <Empezar /> -->
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
  }
</style>

<!-- Script para cargar el Service Worker -->
<script>
  if ("serviceWorker" in navigator) {
    window.addEventListener("load", () => {
      navigator.serviceWorker
        .register("/sw.js")
        .then((reg) => console.log("SW registrado", reg))
        .catch((err) => console.log("Error al registrar SW", err));
    });
  }
</script>
