---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Te toca 🧹">
  <main>
      <h1>
    ¡Te toca Leti🧹!
  </h1>
  </main>

</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
</style>


<!-- Script para cargar el Service Worker -->
<script>
  if ("serviceWorker" in navigator) {
    window.addEventListener("load", () => {
      navigator.serviceWorker
        .register("/sw.js")
        .then((reg) => console.log("SW registrado", reg))
        .catch((err) => console.log("Error al registrar SW", err));
    });
  }
</script>
