<main class="logos">
  <section class="logos-slide">
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
    <div class="player"><h2>Nombre</h2><span>Duarte</span></div>
  </section>
</main>

<style>
  .logos {
    overflow: hidden;
    padding: 20px 0;
    white-space: nowrap;
  }

  main {

    border: solid 2px white;
    max-width: 90%;
    place-self: center;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  div h2 {
    font-size: 25px;
  }

  div span {
    font-weight: bolder;
    font-size: 12px;
    color: rgb(173, 173, 173);
  }


  .logos-slide {
    display: flex;
  }

  div {
    aspect-ratio: 1 / 1; /* o 4 / 3, 1 / 1, etc */
    width: 100%;
    object-fit: contain; /* o contain, según tu necesidad */
    height: 200px;
    margin: 20px 5px;
    background: linear-gradient(
      0deg,
      rgba(16, 8, 248, 0.6) 0%,
      transparent 20%
    );
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-600%); /* frena */
    }
  }

  /* Aplicar el suavizado solo al final de la animación */
  .logos-slide {
    animation: scroll 10s forwards; 
    animation-timing-function: cubic-bezier(0, -0.17, 0, 1.01);
  }
  
</style>

<script>
  // Establecer la duración aleatoria de la animación al cargar la página
</script>
