<button id="go" class="bg-blue-800 text-white font-bold text-2xl px-4 py-2 rounded-xl transition-all hover:bg-blue-500 duration-100 hover:rounded m-12 place-self-center hover:cursor-pointer">Empezar</button>

<script>
 document.getElementById("go")!.addEventListener("click", function () {
  const slideElement = document.querySelector(".carrusel");

  // 1. Quitamos la clase
  slideElement!.classList.remove("animation-slide");

  // 2. Forzamos un "reflow" del DOM para que el navegador note el cambio
  void slideElement!.offsetWidth;

  // 3. Volvemos a agregar la clase
  slideElement!.classList.add("animation-slide");
});

</script>
