<div
  class="ganador absolute top-0 right-1/2 translate-x-1/2 mt-5 p-9 flex-col justify-center place-items-center oculto backdrop-blur-lg z-50 w-full"
  id="ganador"
>
  <h1 class="text-3xl text-green-300 font-bold text-shadow-lg/30 text-shadow-green-400">¡Te toca!</h1>
  <h2 class="text-center break-words text-4xl" id="apellidoGanador">gerardo</h2>
  <span class="font-bold text-center text-gray-400" id="nombreGanador">vazques</span>
</div>


